body {
    color: bisque;
    background-image: url("../kuvat/hard.jfif");
    font-family: "Helvetica";
}
bgimage ei toimi

.btn {
    background-color: blueviolet;
}

p {
    font-size: 30px;
}

h1 {
    font-size: 200px;
}