header,
footer {
    padding: 1em;
    color:beige;
    background-color: rgb(49, 104, 126);
    clear: left;
    text-align: center;
}

.wrapper {
    display: flex;
}

.wrapper > div {
flex: 1;
    text-align: center;
}